<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<%= csrf_meta_tag %>   <!-- prevents a cross-site request forgery -->
		<%= render 'layouts/stylesheets' %>  <!-- A "partial" - don't use the underscore here -->
	</head>
	<!-- the blueprint framework expects the entire body to be inside a div, with the class name "container"-->
	<body>
		<div class="container">
			<!-- header tag is new in html5 -->
			<%= render 'layouts/header' %>
			<section class="round">
				<%= yield %>				
			</section>
			<%= render 'layouts/footer' %>
	</body>
	<!-- This is a layout file for the entire site.  Everything except the body is rendered
	in the same way on every page in the site. -->
</html>